.dark-bg-1 {
    background-color: #1c1c1c;
    padding-top: 50px;
    border-bottom: 20px solid #0482fd;
    .container {
        align-items: center;
        .btn {
            width: fit-content;
            margin-top: 50px;
            background-color: #0482fd;
            padding: 8px 60px;
            text-decoration: none;
            margin-bottom: 20px;
        }
        .cards {
            .card {
                margin-top: 50px;
                height: 240px;
                img {
                    width: 200px;
                    height: 200px;
                    margin-bottom: 20px;
                    object-fit: cover;
                    object-position: top;
                }
                h4 {
                    width: 200px;
                    color: white;
                }
            }
        }
    }
}