* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $main-font;
}

img {
    height: 100%;
}

.text-end {
    text-align: end;
}

.container {
    width: 70%;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.f-dir-column {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.flex-grow-1 {
    flex-grow: 1;
}

.f-wrap {
    flex-wrap: wrap;
}

.align-items-center {
    align-items: center;
}

.list-inline-item {
    list-style: none;
}

.btn {
    background-color: transparent;
    padding: 12px;
    color: white;
    border: 2px solid #0482fd;
}